page-search-location,

.search-location {
	background-color: #ebebebeb;
	
	p::{
		color: black;
	}
	strong::{
		color: black;
	}
	
}
.search{
	background-color: #acc7ebeb;
	
	p::{
		color: black;
	}
	strong::{
		color: black;
	}
	
}